fastapi~=0.101.0
uvicorn~=0.23.2
requests~=2.31.0
python-dotenv~=1.0.0
firebase-admin
google-cloud-firestore
pydantic~=2.1.1
starlette~=0.27.0
SQLAlchemy
pyodbc
sql
geopandas
shapely
pandas
python-dateutil
coloredlogs